<div class = "container px-sm-0">
<h2><%= @diary.created_at.strftime("%Y年%m月%d日") %>の日記</h2>
 <div class = "row">
        <%= link_to "削除する",diary_path(@diary.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-danger" %>
    </div>
    <div class = "row">
        <div class = "col-md-5 mt-3">
            <%= attachment_image_tag @diary, :image, :fill, 300, 200, format:"jpeg" %>
        </div>
        <div class = "col-md-7">
            <div class="versial">
            <h4><%= @diary.title %></h4>
            <p><%= @diary.text %></p>
            </div>
        </div>
    </div>
   
</div>