<% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "このエラーで編集完了できません") %></h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12 px-5 px-sm-0 mx-auto">
      <%= form_with model:@user, url:user_path(current_user.id), local:true do |f| %>
      <h2>登録情報変更</h2>
      <div class="form">
        <table class="table table-borderless">
          <tr>
            <th style="width: 50%"></th>
            <td style="width: 50%"></td>
          </tr>
          <tr>
            <th>プロフィール写真</th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td><%= f.text_field :nickname %></td>
          </tr>
          <tr>
            <th>ユーザーネーム</th>
            <td><%= f.text_area :username %></td>
          </tr>
          <tr>
            <th>Eメール</th>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <th>育ててる作物</th>
            <td><%= f.text_field :crop %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= f.text_area :introduction %></td>
          </tr>
        </table>
      </div>
      <div class="form">
        <%= f.submit "編集", class: "btn btn-outline-info" %>
        <%= link_to "退会する", unsubscribe_user_path(@user.id), class: "btn btn-outline-danger" %>
        <%= link_to "マイページへ戻る", user_path(@user.id), class: "btn btn-outline-warning" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
