<h2>
  <% unless current_user == @user then %>
   <%= @user.nickname %>さんの投稿
  <% else %>
   <p>自分の投稿</p>
  <% end %>
</h2>

<div>
  <%= @post.user_id %>,<%= current_user.id %>
</div>
  <% if @post.user_id == current_user.id %>
   <%= link_to "投稿を削除", post_path(@post.id), method: :delete %>
   <%= link_to "編集する", edit_post_path(@post.id) %>
  <% else %>
  <div id="favorite-button-<%= @post.id %>">
    <% if current_user&.favorite?(@post) %>
     <%= render "favorites/unfavorite_button", post: @post %>
    <% else %>
     <%= render "favorites/favorite_button", post: @post %>
    <% end %>
  </div>
  <% end %>

<div class="container px-10 px-sm-0">
  <div class="row">
    <div class = "col-md-4 m-3">
      <%= @post.created_at.to_s(:datetime_jp) %>
      <%= attachment_image_tag @post, :image, :fill, 400, 300, format:"jpeg" %>
    </div>
    <div class = "col-md-7">
      <%= @post.title %>
      <%= @post.text %>
    </div>
  </div>
    <div class="col-md-8">
      <p>コメント</p>
      <%= form_with(model:[@post,@comment], local: true) do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.text_area :text, placeholder: "本文" %>
      <%= f.submit "コメントする", class: "btn btn-outline-danger" %>
      <% end %>
      <% @comments.each do |comment| %>
      <%= comment.user.nickname %>
      <%= comment.text %>
      <% end %>
    </div>
  </div>
 </div>




