<!DOCTYPE html>
<html>
  <head>
    <title>Tuchikko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper@4.5.1/dist/css/swiper.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/swiper@4.5.1/dist/js/swiper.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-none">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <div class = "navbar-brand p-3">
            <%= link_to "/" do %>
             <%= image_tag 'food_01.png',size: "200x50" %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", user_path(current_user.id), class: "link" %>
              </li>
              <li>
                <%= link_to "成長日記", diaries_path, class: "link" %>
              </li>
              <li>
                <%= link_to "投稿する", new_post_path, class: "link" %>
              </li>
              <li>
                <%= link_to "メンバーの投稿", posts_path, class: "link" %>
              </li>
              <li>
                <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "link" %>
              </li>
              <% else %>
              <li>
                <%= link_to "メンバー登録",new_user_registration_path, class: "link" %>
              </li>
              <li>
                <%= link_to "ログイン",new_user_session_path, class: "link" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
	  <%= yield %>
  </body>
</html>
